<main id="contenedor-principal">
  <div id="seccion-bienvenida">
    <img id="logo-polichess" src="assets/logopolichess.png">
    <div id="texto-bienvenida">
      <h1>PoliChess</h1>
      <h2>Todo sobre el ajedrez del Poli en un solo lugar</h2>
    </div>
  </div>
  <div id="contenedor-ver-mas">
    <button id="ver-mas" (click)="verMas()">VER MÁS &#9660;</button>
  </div>
</main>
<section id="noticias">
  <h3>Noticias</h3>
  <div>
    <button (click)="cambiarNoticia(false)">&#9664;</button>
    <div>
      <img [src]="daniels[i]">
    </div>
    <button (click)="cambiarNoticia(true)">&#9654;</button>
  </div>
</section>