#contenedor-principal {
  height: 100vh;
}

#seccion-bienvenida {
  align-items: center;
  display: flex;
  height: 75vh;
  justify-content: space-evenly;
  padding: 6% 10% 0 10%;
}

#logo-polichess {
  height: 70%;
  width: auto;
}

#texto-bienvenida {
  margin-left: 5%;
}

#texto-bienvenida h1 {
  font-family: var(--fuente-titulos);
  font-size: 600%;
  font-weight: bold;
}

#texto-bienvenida h2 {
  font-family: var(--fuente-subtitulos);
  font-size: 300%;
  font-weight: lighter;
}

#contenedor-ver-mas {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: -3%;
}

#ver-mas {
  background-color: var(--azul-poli);
  border-radius: 5px;
  box-shadow: 0 10px 40px 0 black;
  color: white;
  font-family: var(--fuente-botones);
  font-size: 17.5px;
  font-weight: bolder;
  padding: 20px;
}

#ver-mas:hover {
  background-color: var(--azul-poli-hover);
  cursor: pointer;
}