#inicio {
  padding: 10vh 12.5vw;
}

#contenedor-principal {
  height: 90vh;
}

#seccion-bienvenida {
  align-items: center;
  display: flex;
  height: 75vh;
  justify-content: space-evenly;
}

#logo-polichess {
  height: 70%;
  width: auto;
}

#texto-bienvenida {
  margin-left: 10%;
}

#texto-bienvenida h1 {
  font-family: var(--fuente-titulos);
  font-size: 600%;
  font-weight: bold;
}

#texto-bienvenida h2 {
  font-family: var(--fuente-subtitulos);
  font-size: 300%;
  font-weight: lighter;
}

#contenedor-ver-mas {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: -3%;
}

#ver-mas {
  background-color: var(--azul-poli);
  border-radius: 5px;
  box-shadow: 0 10px 40px 0 black;
  color: white;
  font-family: var(--fuente-botones);
  font-size: 17.5px;
  font-weight: bolder;
  padding: 20px;
}

#ver-mas:hover {
  background-color: var(--azul-poli-hover);
  cursor: pointer;
}

#noticias {
  margin-top: 2%;
}

#noticias h2 {
  display: inline;
  font-family: var(--fuente-titulos);
  font-size: 300%;
}

#noticias h2:hover {
  cursor: pointer;
}

#recuadro-noticias {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1%;
}

.boton-cambiar-noticia {
  background-color: var(--azul-poli);
  color: white;
  font-size: 17.5px;
  padding: 40px 15px;
}

.boton-cambiar-noticia:hover {
  background-color: var(--azul-poli-hover);
  cursor: pointer;
  z-index: 1;
}

#contenedor-noticia {
  background-color: whitesmoke;
  box-shadow: 0 0 5px 0 var(--sombra-suave);
  display: flex;
  flex-grow: 1;
  z-index: 2;
}

#imagen-noticia {
  height: 250px;
  width: auto;
}

#texto-noticia {
  padding: 10px;
  position: relative;
}

#texto-noticia h3 {
  font-family: var(--fuente-titulos-2);
  font-size: 225%
}

#texto-noticia h4 {
  font-family: var(--fuente-subtitulos);
  font-size: 125%;
  font-weight: normal;
}

#leer-noticia {
  bottom: 17.5px;
  border: 2px solid var(--azul-poli);
  border-radius: 5px;
  color: var(--azul-poli);
  font-family: var(--fuente-botones);
  font-size: 17.5px;
  font-weight: bold;
  padding: 7.5px;
  position: absolute;
  right: 17.5px;
}