<header>
  <nav id="navbar-principal" class="transparente">
    <a [routerLink]="['']">
      <img id="logo-navbar" class="no-achicado" src="assets/logonavbar.png">
    </a>
    <a class="seccion-navbar-principal" [routerLink]="['']">NOTICIAS</a>
    <a class="seccion-navbar-principal" [routerLink]="['']">RANKING</a>
    <a class="seccion-navbar-principal" [routerLink]="['']">TORNEOS</a>
    <a class="seccion-navbar-principal" [routerLink]="['']">CALENDARIO</a>
    <a id="seccion-login">
      <div>
        <img id="boton-login" src="assets/botonlogin.png">
      </div>
      <p id="texto-login">Iniciar sesión</p>
    </a>
  </nav>
</header>
<router-outlet></router-outlet>