#inicio {
  padding: 20vh 12.5vw;

}






/*  asjñasjfñajfñ*/
#jugadores {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.jugador-card {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.jugador-info {
  display: flex;
  align-items: center;
}

.jugador-imagen {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.jugador-detalles {
  display: flex;
  flex-direction: column;
}

.jugador-detalles h3 {
  margin: 0;
  font-size: 1.2rem;
}

.jugador-detalles h4 {
  margin: 5px 0;
  font-size: 1rem;
}