<header>
  <nav id="navbar-principal" class="transparente">
    <a [routerLink]="['']">
      <img id="logo-navbar" class="no-achicado" src="assets/logonavbar.png">
    </a>
    <a class="seccion-navbar-principal" [routerLink]="['noticias']">NOTICIAS</a>
    <a class="seccion-navbar-principal" [routerLink]="['jugadores']">RANKING</a>
    <a class="seccion-navbar-principal" [routerLink]="['torneos']">TORNEOS</a>
    <a class="seccion-navbar-principal" [routerLink]="['calendario']">CALENDARIO</a>
    <a id="seccion-login" (click)="openLogin()"> <!-- CAMBIAR EL NOMBRE DE LAS FUNCIONES -->
      <div>
        <img id="boton-login" src="assets/botonlogin.png">
      </div>
      <p id="texto-login">Iniciar sesión</p>
    </a>
  </nav>
</header>


<!-- REVISAR TODO ESTO -->

<!-- Popup de Login/Registro -->
<div class="login-overlay" [class.visible]="isOverlayVisible" (click)="closeLoginOverlay($event)">
  <div class="login-container" (click)="$event.stopPropagation()">
    <!-- Popup de Login -->
    <div class="login-dialog login-form" [style.display]="isLoginVisible ? 'block' : 'none'">
      <div class="dialog-header">
        <h2 class="dialog-title">Bienvenido de Nuevo</h2>
      </div>
      <form class="form-content">
        <div class="form-group">
          <label for="username">Usuario:</label>
          <input type="text" id="username" name="username" class="form-input" placeholder="Tu nombre de usuario" required>
        </div>
        <div class="form-group">
          <label for="password">Contraseña:</label>
          <input type="password" id="password" name="password" class="form-input" placeholder="••••••••••" required>
        </div>
        <div class="button-group">
          <button type="submit" class="btn btn-submit">Iniciar Sesión</button>
        </div>
      </form>
      <div class="switch-container">
        <p>¿No tienes cuenta?</p>
        <a  (click)="showRegister(); $event.stopPropagation()" class="switch-link">¡Regístrate aquí!</a>
      </div>
    </div>

    <!-- Popup de Registro -->
    <div class="login-dialog register-form" [style.display]="isRegisterVisible ? 'block' : 'none'">
      <div class="dialog-header">
        <h2 class="dialog-title">Únete a la Comunidad</h2>
      </div>
      <form class="form-content">
        <div class="form-row">
          <div class="form-group">
            <label for="firstName">Nombre:</label>
            <input type="text" id="firstName" name="firstName" class="form-input" placeholder="Tu nombre" required>
          </div>
          <div class="form-group">
            <label for="lastName">Apellido:</label>
            <input type="text" id="lastName" name="lastName" class="form-input" placeholder="Tu apellido" required>
          </div>
        </div>
        <!-- Campo para el nombre de usuario -->
      <div class="form-group">
        <label for="username">Nombre de Usuario:</label>
        <input type="text" id="username" name="username" class="form-input" placeholder="Elige un nombre de usuario" required>
      </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" class="form-input" placeholder="tucorreo@ejemplo.com" required>
        </div>
        <div class="form-group">
          <label for="password">Contraseña:</label>
          <input type="password" id="password" name="password" class="form-input" placeholder="Crea una contraseña" required>
        </div>
        <div class="button-group">
          <button type="submit" class="btn btn-submit">Registrar</button>
        </div>
      </form>
      <div class="switch-container">
        <p>¿Ya tienes cuenta?</p>
        <a  (click)="showLogin(); $event.stopPropagation()" class="switch-link">Inicia Sesión aquí</a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>