@font-face {
  font-family: "LM Roman Caps 10";
  src: url("assets/fonts/lmromancaps10-regular.otf");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --amarillo-poli: #FFCB00; 
  --azul-poli: #155A9E;
  --azul-poli-hover: #114a83;
  --sombra-suave: rgb(95, 95, 95);
  --fuente-titulos: "LM Roman Caps 10";
  --fuente-titulos-2: Arial;
  --fuente-subtitulos: "Roboto Slab";
  --fuente-botones: "Helvetica Neue";
  --fuente-texto: "Roboto Slab";
}

html {
  scroll-padding-top: 10vh;
}

body {
  background-image: url("assets/fondopolichess.png");
  background-repeat: repeat;
}